<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RL APP</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>hello from index.html</h1>

    <div>
      <ul id="ul-snake-data">
      </ul>
    </div>

    <div>
      <button id="btn-train">train</button>
    </div>

    <div>
      <input type="text" id="username" placeholder="username">
      <button id="join-btn">connect</button>
    </div>

  </body>
  <script>
    const socket = io({autoConnect: false});
    document.getElementById("join-btn").addEventListener("click", function() {
      let username = document.getElementById("username").value;
      socket.connect();

      socket.on("connect", function() {
        socket.emit("user_join", username);
      })
    })

    document.getElementById("btn-train").addEventListener("click", function(){
      socket.emit("train");
    })

    socket.on("snake_data", function(data){
      let ul = document.getElementById("ul-snake-data");
      let li = document.createElement("li")
      li.appendChild(document.createTextNode(data["data"]["snake"][0]["x"]));
      ul.appendChild(li)
      ul.scrollTop = ul.scrollHeight;
    })

  </script>

</html>
