<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RL APP</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>hello from index.html</h1>

    <div>
      <a href="/train">
        <button id="btn-start">start</button>
      </a>
    </div>

    <div>
      <ul id="ul-snake-data">
      </ul>
    </div>

    <div>
      <button id="btn-train">train</button>
    </div>

    <div>
      <input type="text" id="username" placeholder="username">
      <button id="join-btn">connect</button>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='socket.js') }}"></script>
  </body>
  

</html>
