{% extends 'base.html' %}

{% block title %}
    Introduction
{% endblock %}

{% block head %}
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='snake.css')}}"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}

{% block container %}
  <div class="mt-5"></div>
    <div class="container text-center">
      <div class="row">

        <div class="col" id="gameContainer">
          <canvas id="gameBoard" width="640" height="480"></canvas>
        </div>

        <div class="col">

          <div class="row">
            <div style="width: 140px;">
              <p class="text-left">snake gets food</p>
            </div>
            <select name="food" id="food">
              <option value="" selected disabled hidden>select</option>
              <option value="-5">-5</option>
              <option value="-4">-4</option>
              <option value="-3">-3</option>
              <option value="-2">-2</option>
              <option value="-1">-1</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>   
          </div>

          <br>

          <div class="row">
            <div style="width: 140px;">
              <p class="text-left">snake stays alive</p>
            </div>
            <select name="alive" id="alive">
              <option value="" selected disabled hidden>select</option>
              <option value="-5">-5</option>
              <option value="-4">-4</option>
              <option value="-3">-3</option>
              <option value="-2">-2</option>
              <option value="-1">-1</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>   
          </div>   

          <br>

          <div class="row">
            <div style="width: 140px;">
              <p class="text-left">snake dies</p>
            </div>
            <select name="die" id="die">
              <option value="" selected disabled hidden>select</option>
              <option value="-5">-5</option>
              <option value="-4">-4</option>
              <option value="-3">-3</option>
              <option value="-2">-2</option>
              <option value="-1">-1</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <br>

          <div class="row">
            <div style="width: 140px;"></div>
            <button class="btn btn-primary" id="btn-train">train</button>
          </div>  

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div class="row"> 
            <div style="width: 140px;">
              <p class="text-left">score</p>
            </div>
            <p id="score">0</p>
          </div>

          <div class="row"> 
            <div style="width: 140px;">
              <p class="text-left">high score</p>
            </div>
            <p id="highscore">0</p>
          </div>

          <div class="row"> 
            <div style="width: 140px;">
              <p class="text-left">goal</p>
            </div>
            <p id="goal">80</p>
          </div>

        </div>

        <div class="col">
          <img class="rounded" style="max-width: 120px; max-height: 500px" src="{{url_for('static', filename='scale.jpeg')}}" alt="">
        </div>

      </div>
    </div>
    
    <script src="{{url_for('static', filename='snakeai.js')}}"></script>
{% endblock %}

